.CustomButton {

  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  margin-right: 15px;
  cursor: pointer;

  &.v1 {
    background-color: $color_2;
    color: white;

    &:hover {
      background-color: $color_1;
      color: $color_2;
    }
  }

  &.v2 {
    background-color: $color_1;
    color: $color_2;

    &:hover {
      background-color: $color_2;
      color: $color_1;
    }
  }
}