.CoupleLogo {
  //   background-color: red;
  max-width: 230px;

  img {
    width: 220px;
  }

  .class {
    display: none;
  }

  p {
    font-size: 9px;
    text-align: right;
    margin-top: -8px;
  }

  @include respond-below(md) {
    img {
      width: 170px;
    }

    p {
      font-size: 8px;
    }
  }
}
